body::-webkit-scrollbar {
    display: none;
  }
  
  * {
      box-sizing: border-box;
      overflow-x: hidden !important;  
  }
  body{
      background-image: url("Image/BG.png");
      position: relative;
      box-sizing: border-box;
      width: 100vw;
  }
  
  
  .real{
      width: 100vw;
      position: relative;
      overflow: hidden;  
      box-sizing: border-box;
  }
  

  .btn1{
    position: relative;
    overflow: hidden;
}

#nave_19{
    position: absolute;
    z-index: 1;
    width: 8%;
    margin-top: 1.5%;
    overflow: hidden;
}
#nave_18{
    position: absolute;
    width: 8%;
    margin-top: 1.5%;
    overflow: hidden;
}
#nave{
    position: fixed;
    margin-left: 2%;
    margin-top: 2%;
    width: 4%;
    cursor: pointer;
    transition: 1s;
    z-index: 10;
}
#nave2{
    position: fixed;
    margin-left: 2%;
    margin-top: 2%;
    width: 4%;
    cursor: pointer;
    transition: 1s;
    transform: rotate(180deg);
    z-index: 9;

}
.nav_text{
    display: inline;
    margin-left: 11%;
}
.nav{
    margin-top: 3%;
}
.sidenav {
    border-radius: 10px;
    height: 55%;
    margin-left: 7%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #FFF3D7;
    overflow: hidden;
    transition: 1s;
    padding-top: 30px;
  }
  
  .sidenav a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    color: #3E4A43;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color: #CDDBD6;
  }
  .sidenav a:hover #nave_19 {
    visibility: hidden;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
  }




  
  img#H_khon,#H_khon2,#H_khon3,#H_khon4,#H_khon5{
      cursor: pointer;
      z-index: 10;
  }
  .modal {
      display: none; 
      position: fixed; 
      z-index:10; 
      left: 0;
      top: 0;
      width: 100vw; 
      height: 100vh;
      overflow: hidden; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.9); 
  }
  .modal-content {
    display: flex;
    width: 24%;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);  
    overflow: hidden;
    background-color: rgba(0,0,0,0); 
    animation-name: zoom;
    animation-duration: 0.6s;
      
  }
  .modal-content-hanumarn {
    display: flex;
    width: 24%;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);  
    overflow: hidden;
    background-color: rgba(0,0,0,0); 
    animation-name: zoom;
    animation-duration: 0.6s;
     
  }
  @keyframes zoom {
      from {transform:scale(0.1)} 
      to {transform:scale(1)}
  }
  .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      z-index: 10;
      cursor: pointer;
  }
  .closed {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      cursor: pointer;
  }
  
  .test{
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 1%;
  }
  
  
  .parallax{
      width: 100vw;
  }
  
  .video_{
    width: 78%;
    margin-top: -5%;
    margin-left: 11%;
    
}
  
  
  /* head */
  .header{
      height: 750px;
  }
  .parallax img#god{
      position: absolute;
      pointer-events: none;
      width: 44%;
      margin-left: 27%;
      margin-top: 1.5%;
      z-index:4;
  }
  .parallax img#H_cloud1{
      position: absolute;
      width: 70%;
      margin-top: 12%;
      margin-left: 30%;
      z-index: 3;
      pointer-events: none;
  }
  .parallax img#H_cloud2{
      position: absolute;
      width: 60%;
      margin-top: 17%;
      left: 0;
      z-index: 2;
      pointer-events: none;
  }
  .parallax img#H_cloud3{
      position: absolute;
      width: 40%;
      right: 0;
      z-index: 1;
      pointer-events: none;
  }
  .parallax img#H_cloud4{
      position: absolute;
      width: 30%;
      margin-left: 62%;
      margin-top: 25%;
      z-index: 2;
      pointer-events: none;
  }
  .parallax img#ele18{
      position: absolute;
      margin-left: 31%;
      width: 10%;
      margin-top: 1.5%;
      z-index: 5;
      pointer-events: none;
  }
  .parallax img#ele19{
      position: absolute;
      margin-left: 19%;
      width: 17%;
      margin-top: 8%;
      z-index: 5;
      pointer-events: none;
  }
  
  /* sec1 */
  .section1{
      height: 900px;
  }
  .parallax img#s1_clound1{
    position: absolute;
    width: 70%;
    margin-top: 35%;
    left: 0;
    transform: scaleX(-1);
    z-index: -1;
    pointer-events: none;
}
/*sec2*/
  img.RGraphic{
      transform: translateX(100px);
      padding-bottom: 10%;
      width: 75%;
      opacity: 0;
  }
  img#H_khon{
      opacity: 1;
  }
  
  .parallax img#s2_cloud1{
      position: absolute;
      width: 70%;
      z-index: -1;
      margin-top: -15%;
      transform: scaleX(-1);
      pointer-events: none;
  }

  .parallax img#cloud2{
      position: absolute;
      width: 70%;
      left: 0;
      pointer-events: none;
  }
  .trig{
      z-index: 0;
      transform: translate(0, 300px);;
  }
  
  
  
  /*sec3*/
.section3{
      height: 800px;
      
}
.Name_head{
    width: 10%;
}
.Name_opacity2{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 32%;
    transform: translateY(100px);
    opacity: 0;
    text-align: center;
}

img.icon_flower2{
    width: 7%;
    transform: rotate(-90deg);
}
  .parallax img#text2{
    position: absolute;
    width: 40%;
    margin-top: 40%;
    margin-left: 29%;
    opacity: 1;
    pointer-events: none;
  }
  .parallax img#s3_ele3{
    position: absolute;
    width: 8%;
    margin-left: 30%;
    margin-top: 10%;
    z-index: 2;
    pointer-events: none;
}
.parallax img#s3_ele5{
    position: absolute;
    width: 12%;
    z-index: 2;
    margin-left: 5%;
    margin-top: 28%;
    transform: rotate(-85deg);
    pointer-events: none;
}
.parallax img#s3_ele23{
    position: absolute;
    width: 9%;
    margin-left: 8%;
    margin-top: 8%;
    transform: rotate(-90deg);
    z-index: 2;
    pointer-events: none;
}
.parallax img#s3_ele23_2{
    position: absolute;
    width: 5%;
    margin-left: 25%;
    margin-top: 28%;
    transform: rotate(-90deg);
    z-index: 2;
    pointer-events: none;
}
.parallax img#s3_ele24{
    position: absolute;
    width: 10%;
    margin-left: 15%;
    margin-top: 18%;
    transform: rotate(-35deg);
    z-index: 2;
    pointer-events: none;
}.parallax img#s3_ele21{
    position: absolute;
    width: 20%;
    margin-left: 75%;
    margin-top: 50%;
    transform: rotate(35deg);
    z-index: 2;
    pointer-events: none;
}
.parallax img#s3_ele9{
    position: absolute;
    width: 5%;
    margin-left: 88%;
    margin-top: 65%;
    transform: rotate(-35deg);
    z-index: 2;
    pointer-events: none;
}
.parallax img#s3_cloud2{
    position: absolute;
    width: 80%;
    margin-top: 50%;
    margin-left: 20%;
    left: 0;
    transform: scaleX(-1);
    z-index: 0;
    pointer-events: none;
}
.parallax img#s3_ele33{
    position: absolute;
    width: 35%;
    margin-top: 50%;
    margin-left: -5%;
    transform: rotate(5deg);
    left: 0;
    z-index: 0;
    pointer-events: none;
}  
  /*sec4*/
  img#H_khon2{
      opacity: 1;
  }
  img.LGraphic{
      transform: translateX(-100px);
      padding-bottom: 10%;
      opacity: 0;
      width: 75%;
  }



  /*sec5*/
  .section5{
      height: 600px;
  }
  img.icon_flower3{
    width: 7%;
    transform: rotate(-90deg);
}
.Name_opacity3{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15%;
    transform: translateY(100px);
    opacity: 0;
    text-align: center;
}
  .parallax img#text3{
      position: absolute;
      width: 50%;
      margin-top: 25%;
      margin-left: 24%;
      opacity: 1;
      pointer-events: none;
  }
  
  .parallax img#s5_ele13{
      position: absolute;
      width: 30%;
      margin-left: 85%;
      margin-top: 0%;
      z-index: 2;
      pointer-events: none;
  }
  .parallax img#s5_ele9{
    position: absolute;
    width: 5%;
    margin-left: 57%;
    transform: rotate(15deg);
    margin-top: 60%;
    z-index: 2;
    pointer-events: none;
}
.parallax img#s5_ele21{
    position: absolute;
    width: 25%;
    margin-left: 60%;
    margin-top: 60%;
    transform: rotate(120deg);
    z-index: 2;
    pointer-events: none;
}
  .parallax img#s5_ele34{
    position: absolute;
    width: 25%;
    margin-top: 15%;
    z-index: -3;
    pointer-events: none;
}
  .parallax img#s5_cloud1{
      position: absolute;
      width: 70%;
      margin-top: -20%;
      margin-left: -5%;
      left: 0;
      z-index: -2;
      transform: scaleX(-1);
      pointer-events: none;
  }
  .parallax img#s5_cloud2{
      position: absolute;
      width: 75%;
      margin-top: 45%;
      margin-left: 25%;
      transform: scaleX(-1);
      pointer-events: none;
  }
  /*sec6*/
  img#H_khon3{
      opacity: 1;
  }
  img.RGraphic2{
      transform: translateX(100px);
      padding-bottom: 10%;
      opacity: 0;
      width: 75%;
  }

 
  /*sec7*/
  .section7{
      height: 700px;
  }
  img.icon_flower4{
    width: 7%;
    transform: rotate(90deg);
}
.Name_opacity4{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15%;
    transform: translateY(100px);
    opacity: 0;
    text-align: center;
}
  .parallax img#text4{
      position: absolute;
      width: 50%;
      margin-top: 25%;
      margin-left: 24%;
      opacity: 1;
      pointer-events: none;
  }
  .parallax img#s7_ele14{
      position: absolute;
      width: 25%;
      margin-top: 15%;
      margin-left: -10%;
      z-index: -3;
      pointer-events: none;
  }
  .parallax img#s7_ele9{
    position: absolute;
    width: 5%;
    margin-left: 75%;
    margin-top: 23%;
    transform: rotate(-15deg);
    pointer-events: none;
}
.parallax img#s7_ele23{
    position: absolute;
    width: 6%;
    margin-left: 88%;
    margin-top: 25%;
    pointer-events: none;
}
.parallax img#s7_ele23_2{
    position: absolute;
    width: 8%;
    margin-left: 75%;
    margin-top: 10%;
    pointer-events: none;
}
.parallax img#s7_ele23_3{
    position: absolute;
    width: 7%;
    margin-left: 20%;
    margin-top: 75%;
    pointer-events: none;
}
.parallax img#s7_ele23_4{
    position: absolute;
    width: 8%;
    margin-left: 18%;
    margin-top: 85%;
    pointer-events: none;
}
.parallax img#s7_ele24{
    position: absolute;
    width: 8%;
    margin-left: 80%;
    margin-top: 20%;
    transform: rotate(220deg);
    pointer-events: none;
}
.parallax img#s7_ele24_2{
    position: absolute;
    width: 10%;
    margin-left: 85%;
    margin-top: 10%;
    transform: rotate(200deg);
    pointer-events: none;
}
.parallax img#s7_ele5{
    position: absolute;
    width: 13%;
    margin-left: 6%;
    margin-top: 77%;
    transform: rotate(-75deg);
    pointer-events: none;
}
.parallax img#s7_ele33{
    position: absolute;
    width: 35%;
    margin-top: 30%;
    margin-left: 70%;
    transform: rotate(5deg);
    transform: scaleX(-1);
    left: 0;
    z-index: -1;
    pointer-events: none;
}

  .parallax img#s7_cloud1{
      position: absolute;
      width: 75%;
      margin-top: 45%;
      margin-left: 25%;
      z-index: -2;
      pointer-events: none;
  }
  .parallax img#s7_cloud3{
      position: absolute;
      width: 75%;
      margin-top: -20%;
      transform: scaleX(-1);
      left: 0;
      z-index: -2;
      pointer-events: none;
  }


  
  /*sec8*/
  img#H_khon4{
      opacity: 1;
  }
  img.LGraphic2{
      transform: translateX(-100px);
      padding-bottom: 10%;
      opacity: 0;
      width: 75%;
  }
 
  img#s8_ele2{
      transform: rotate(-40deg);
      position: absolute;
      width: 7%;
      margin-top: -30%;
      margin-left: 4%;
      pointer-events: none;
  }
  /*sec9*/
  .section9{
    height: 1000px;
}
img.icon_flower5{
  width: 7%;
  transform: rotate(90deg);
}
.Name_opacity5{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
  margin-top: 35%;
  transform: translateY(100px);
  opacity: 0;
  text-align: center;
}
.parallax img#text5{
    position: absolute;
    width: 50%;
    margin-top: 45%;
    margin-left: 24%;
    opacity: 1;
    pointer-events: none;
}
.parallax img#s9_cloud1{
    position: absolute;
    width: 75%;
    transform: scaleX(-1);
    z-index: -3;
    margin-top: -15%;
    left: 0;
    pointer-events: none;
}
.parallax img#s9_ele3{
    position: absolute;
    width: 10%;
    margin-left: 6%;
    transform: rotate(-15deg);
    pointer-events: none;
}
.parallax img#s9_ele3_2{
    position: absolute;
    width: 6%;
    margin-left: 20%;
    margin-top: 65%;
    transform: rotate(-15deg);
    pointer-events: none;
}
.parallax img#s9_ele5{
    position: absolute;
    width: 8%;
    margin-left: 65%;
    margin-top: 75%;
    transform: rotate(-15deg);
    pointer-events: none;
}
.parallax img#s9_ele8{
    position: absolute;
    width: 6%;
    margin-left: 55%;
    margin-top: 100%;
    pointer-events: none;
}
.parallax img#s9_ele9{
    position: absolute;
    width: 5%;
    margin-left: 60%;
    margin-top: 95%;
    transform: rotate(25deg);
    pointer-events: none;
}

.parallax img#s9_ele14{
    position: absolute;
    width: 25%;
    margin-top: 15%;
    margin-left: -5%;
    z-index: -4;
    pointer-events: none;
}
.parallax img#s9_ele21{
    position: absolute;
    width: 25%;
    margin-left: 65%;
    margin-top: 90%;
    transform: rotate(145deg);
    pointer-events: none;
}
.parallax img#s9_ele22{
    position: absolute;
    width: 20%;
    margin-left: 6%;
    margin-top: 8%;
    transform: rotate(-35deg);
    pointer-events: none;
}
.parallax img#s9_ele23{
    position: absolute;
    width: 6%;
    margin-left: 4%;
    margin-top: 18%;
    pointer-events: none;
}
.parallax img#s9_ele34{
    position: absolute;
    width: 35%;
    margin-left: 80%;
    pointer-events: none;
}
.parallax img#s9_cloud2{
    position: absolute;
    width: 75%;
    margin-top: 75%;
    margin-left: 25%;
    z-index: -1;
    transform: scaleX(-1);
    pointer-events: none;
}
/*sec10*/
img#H_khon5{
    opacity: 1;
}
img.RGraphic3{
    transform: translateX(100px);
    padding-bottom: 10%;
    opacity: 0;
    width: 75%;
}
/*section24*/
.section24{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding:0;
}
.logo{
    position: absolute;
    display: flex;
    align-items: center;
    align-self: flex-end;
    flex-direction: column;
    margin-bottom: 2%;
}
.text_23{
    z-index: 10;
    margin-top: 2%;
}
#s24_cloud{
    width: 100%;
    z-index: 1;
    pointer-events: none;
}
#s24_logo{
    width: 30%;
    margin-top: 0%;
    left: 0;
    z-index: 2;
    pointer-events: none;
}


  
  
  h1{
    font-family: 'Maitree', serif;
    font-size: 44pt;
    line-height:normal;
    font-weight: 600;
    overflow: hidden;
  }
  h2{
    font-family: 'Maitree', serif;
    font-size: 18pt;
    line-height:normal;
    font-weight: 600;
    overflow:hidden;
  }
  h4{
      font-family: 'Maitree', serif;
      font-size: 18pt;
      font-weight: 400;
  }
  .nature{
      padding-left: 10%;
  }
  .head{
      padding-left: 10%;
  }
  .about{
          padding-left: 10%;
  }
  
  
  