@media (max-width:1440px) {
    .header{
        height: 635px;
    }
    .section1{
        height: 650px;
    }
    .section9{
        height: 400px;
    }
}
@media (max-width:1026px) {
    .video_{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .modal-content {
        width: 34%;
        top: 23%;
    }
    .header{
        height: 635px;
        margin-top: 7%;
    }
    .section1{
        height: 650px;
    }
    .section3,.section5,.section7{
        height: 420px;
    }
    
    .section9{
        height: 1300px;
    }
}
@media (max-width:768px) {
    .modal-content {
        width: 44%;
        top: 29%;
    }
    #text2,#text3,#text4{
        margin-top: 45%;
    }
    h1{
        font-size: 28pt;
    }
    .header{
        margin-top: 19%;
        height: 635px;
    }
    .section1{
        height: 400px;
    }
    .section3{
        height: 400px;
    }
    .section5{
        height: 400px;
    }
    .section7{
        height: 400px;
    }
    .section9{
        height: 825px;
    }
}
@media (max-width:391px) {
    h2 {
        font-size: 12pt;
        margin-bottom: 0%;
    }
    h1{
        font-size: 16pt;
        padding-top: 2%;
        padding-left: 2%;
    }
    .modal-content {
        width: 84%;
        top: 34%;
    }
    .parallax img#text2,.parallax img#text3,.parallax img#text4{
        width: 80%;
        margin-top: 35%;
        margin-left: 8%;
    }
    img.RGraphic,img.RGraphic2,img.LGraphic,img.LGraphic2{
        padding-bottom: 0;
    }
    /*header*/
    .parallax img#god{
        width: 64%;
        margin-left: 15%;
    }
    .parallax img#H_cloud1{
        width: 90%;
        margin-left: 20%;
        margin-top: 25%;
    }
    .parallax img#H_cloud2{
        width: 80%;
        margin-top: 20%;
    }
    .parallax img#H_cloud3{
        width: 50%;
    }
    .parallax img#H_cloud4{
        width: 55%;
    }
    .parallax img#ele18{
        width: 15%;
        margin-left: 20%;
    }
    .parallax img#ele19{
        width: 22%;
        margin-left: 5%;
        margin-top: 12%;
    }
    /*section3*/
    .parallax img#ele14{
        width: 35%;
        margin-top: 10%;
        margin-left: 78%;
    }
    .parallax img#s3_cloud2{
        width: 90%;
        margin-top: 57%;
        left: 0;
    }
    /*section5*/
    .parallax img#s5_ele3{
        width: 10%;
        margin-left: 18%;
        margin-top: 8%;
    }
    .parallax img#s5_ele3-2{
        width: 9%;
        margin-left: 75%;
        margin-top: 18%;
    }
    .parallax img#s5_ele5{
        width: 12%;
        margin-left: 5%;
        margin-top: 35%;
    }
    .parallax img#s5_ele13{
        width: 40%;
        margin-left: 80%;
        margin-top: 0%;
    }
    .parallax img#s5_cloud1{
        width: 90%;
        margin-top: -30%;
        margin-left: -5%;
    }
    .parallax img#s5_cloud2{
        width: 85%;
        margin-top: 55%;
        margin-left: 10%;
    }
    /*section7*/
    .parallax img#s7_ele12{
        width: 40%;
        margin-top: 55%;
        margin-left: 75%;
    }
    .parallax img#s7_ele8{
        width: 9%;
    }
    .parallax img#s7_ele9{
        width: 8%;
    }
    .parallax img#s7_cloud2{
        width: 75%;
        margin-top: 50%;
    }
    .header{
        margin-top: 19%;
        height: 370px;
    }
    .section1{
        height: 215px;
    }
    .section3{
        height: 400px;
    }
    .section5{
        height: 250px;
    }
    .section7{
        height: 350px;
    }
    .section9{
        height: 425px;
    }
}
